.directory 
.DS_Store
.snakemake
examples
venv

__pycache__


*.aux
*.bbl
*.blg
*.brf 
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz

# do not track key
credentials.toml
tmp
dl
tex/filled
build
PENDING.md
